<!--

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HTML5 Boilerplate</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
	<h1>This is about page</h1>
	<hr>
  
<!--Using fragment  
 <div class="host-tag" th:replace="~{base :: parent(~{::section})}">
	
	<section>
		<h2>Dynamic Content</h2>
		<p>Vaibhav Tambe at ekodisagj tq vaijappur </p>
		<button>click me Dynamic content</button>
		
	</section>
	
  </div>
  
  
  <div class="host-tag" th:replace="${isLogin} ? ~{base :: parent(~{::section})} : ~{base :: test(~{::#lotLogin})}">
  	
  	<section>
		<h1>Login </h1>
   		<h2>Dynamic Content</h2>
  		<p>Vaibhav Tambe at ekodisagj tq vaijappur </p>
  		<button>click me Dynamic content</button>
  		
  	</section>
	
	<section id="lotLogin">
		
		<h1>Not login</h1>
		
	</section>
    </div>
</body>
</html>

-->

<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
 
<head>
	<title>About Page</title>
 
</head>

<body>
	
	<div id="content">
		<h1>This is welcome about page</h1>
		<p>Vaibhav</p>
	</div>
	<script>
		console.log("About page............................")
	</script>
	<script>console.log("Second...")</script>
	
</body>

</html>
